@import "../App.scss";
@import "../Form.scss";

.login-container {
  @extend %form-container;
}

.login-heading {
  @extend %form-heading;
}

.login-caption {
  @extend %form-caption;
}

.username-input {
  @extend %first-input;
}

.password-input {
  @extend %second-input;
}

.login-button {
  @extend %action-button;
}

.login-register {
  text-align: left;
  width: 300px;
  margin: 20px 0px 0px 0px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);

  span {
    margin-left: 5px;
    font-size: 14px;
    color: #303030;
    letter-spacing: 0.25px;
    cursor: pointer;
  }
}
